/**
 *  STYLE.CSS
 *  Fichero de estilos
 */

/* ==========================================================================
   PRUEBAS - ESTO ES UNA SECCIÓN
   ========================================================================== */
 p {
    color: white;
    font-family: Arial;
    text-transform: uppercase;
    background: grey;
}

/* 
   Esto es una subsección
   ========================================================================== */
