/**
 *  Button Bar 5 LAB
 *  Transitions & animations
 */


.navbar {
  background-color: #e3e3e3;
  padding: 10px;
}

.navbar:after{
  content: '';
  display: block; 
  clear: both;
}

.navbar a {
  float: left;

  position: relative;

  width: 100px;
  height: 50px;
  margin: auto 10px;

  text-align: center;
  line-height: 50px;

  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;

  border: 1px solid black;
  background-image: url(../img/sprite.png);

  /* Transitions */
  -webkit-transition: -webkit-transform 200ms ease;

  /* Transitions */
  transition: transform 200ms ease;

}




.navbar .share {
  float: right;
  width: 50px;
  border: none;

  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.inbox          { background-position:    0   0;}
.inbox:hover    { background-position: -300px 0;}
.inbox:active   { background-position: -600px 0;}

.outbox         { background-position: -100px 0;}
.outbox:hover   { background-position: -400px 0;}
.outbox:active  { background-position: -700px 0;}

.trash          { background-position: -200px 0;}
.trash:hover    { background-position: -500px 0;}
.trash:active   { background-position: -800px 0;}


.button-bar div{
  float: left;
  display: inline-block;
}
.button-bar a:after{
  content: attr(data-badge);

  position: absolute;
  top: -40px;
  right: 5px;

  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 15px;

  background-color: #ddd;
  color: black;

  border: 2px solid #333;
  border-radius: 50%; /* CSS3 stuff, do not worry about it now */
  opacity: 0;

  -webkit-transform: scale(.6);
  transform: scale(.6);

-webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1.455); 
        transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1.455); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1.455); 
        transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1.455); /* custom */ 
}

.button-bar a:hover:after {
  opacity: 1;
  top: -10px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Share button */

.share          { 
  background-position: -900px 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 200px;
  transition-duration: 200px;
}
.share:hover    { 
  background-position: -950px 0;
  -webkit-transform: scale(1.2) rotate(360deg);
  transform: scale(1.2) rotate(360deg);
}


/* 
   ANIMACIONES DE LOS BOTONES con :target
   usamos este hack para poder animar los eventos del click sin usar javascript
   ========================================================================== */

.navbar a:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.navbar div:target a{
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: .5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease;

  -moz-animation-name: bounce;
  -moz-animation-delay: .25s;
  -moz-animation-duration: .5s;
  -webkit-animation-direction: alternate;
  -moz-animation-timing-function: ease;
}
.navbar div#inbox:target a{
  -webkit-animation-name: tada;
  animation-name: tada;
}
.navbar div#outbox:target a{
  -webkit-animation-name: shake;
  animation-name: shake;
}
.navbar div#share:target a{
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 200ms;
}



/* ==========================================================================
   ANIMACIONES
   Animaciones de https://daneden.me/animate/
   ========================================================================== */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1);  }
        50% { -webkit-transform: scale(15) rotate(180deg); color: #FFF; }
    100% { -webkit-transform: scale(1) rotate(360deg); }
}

@keyframes pulse {
    0% {transform: scale(1); }
        50% { transform: scale(15) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); ; }
}


@-webkit-keyframes flash {
  0% {opacity: 1;}  
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes flash {
  0% {opacity: 1;}  
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flash {
  0% {opacity: 1;}  
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.flash {
  -webkit-animation-name: flash;
  -ms-animation-name: flash;
  animation-name: flash;
}
@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  10% {-webkit-transform: translateX(-10px);}
  20% {-webkit-transform: translateX(10px);}
  30% {-webkit-transform: translateX(-10px);}
  40% {-webkit-transform: translateX(10px);}
  50% {-webkit-transform: translateX(-10px);}
  60% {-webkit-transform: translateX(10px);}
  70% {-webkit-transform: translateX(-10px);}
  80% {-webkit-transform: translateX(10px);}
  90% {-webkit-transform: translateX(-10px);}
  100% {-webkit-transform: translateX(0);}
}
@-ms-keyframes shake {
  0% {-ms-transform: translateX(0);}
  10% {-ms-transform: translateX(-10px);}
  20% {-ms-transform: translateX(10px);}
  30% {-ms-transform: translateX(-10px);}
  40% {-ms-transform: translateX(10px);}
  50% {-ms-transform: translateX(-10px);}
  60% {-ms-transform: translateX(10px);}
  70% {-ms-transform: translateX(-10px);}
  80% {-ms-transform: translateX(10px);}
  90% {-ms-transform: translateX(-10px);}
  100% {-ms-transform: translateX(0);}
}
@keyframes shake {
  0% {-webkit-transform: translateX(0);transform: translateX(0);}
  10% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20% {-webkit-transform: translateX(10px);transform: translateX(10px);}
  30% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  40% {-webkit-transform: translateX(10px);transform: translateX(10px);}
  50% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  60% {-webkit-transform: translateX(10px);transform: translateX(10px);}
  70% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
  90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

.shake {
  -webkit-animation-name: shake;
  -ms-animation-name: shake;
  animation-name: shake;
}
@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(0);}
  20% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  50% {-webkit-transform: translateY(0);}
  60% {-webkit-transform: translateY(-15px);}
  80% {-webkit-transform: translateY(0);}
  100% {-webkit-transform: translateY(0);}
}

@-ms-keyframes bounce {
  0% {-ms-transform: translateY(0);}
  20% {-ms-transform: translateY(0);}
  40% {-ms-transform: translateY(-30px);}
  50% {-ms-transform: translateY(0);}
  60% {-ms-transform: translateY(-15px);}
  80% {-ms-transform: translateY(0);}
  100% {-ms-transform: translateY(0);}
}

@keyframes bounce {
  0% {-webkit-transform: translateY(0);transform: translateY(0);}
  20% {-webkit-transform: translateY(0);transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
  50% {-webkit-transform: translateY(0);transform: translateY(0);}
  60% {-webkit-transform: translateY(-15px);transform: translateY(-15px);}
  80% {-webkit-transform: translateY(0);transform: translateY(0);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

.bounce {
  -webkit-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);} 
  10% {-webkit-transform: scale(0.9) rotate(-3deg);}
  20% {-webkit-transform: scale(0.9) rotate(-3deg);}
  30% {-webkit-transform: scale(1.1) rotate(3deg);}
  40% {-webkit-transform: scale(1.1) rotate(-3deg);}
  50% {-webkit-transform: scale(1.1) rotate(3deg);}
  60% {-webkit-transform: scale(1.1) rotate(-3deg);}
  70% {-webkit-transform: scale(1.1) rotate(3deg);}
  80% {-webkit-transform: scale(1.1) rotate(-3deg);}
  90% {-webkit-transform: scale(1.1) rotate(3deg);}
  100% {-webkit-transform: scale(1) rotate(0);}
}

@-ms-keyframes tada {
  0% {-ms-transform: scale(1);} 
  10% {-ms-transform: scale(0.9) rotate(-3deg);}
  20% {-ms-transform: scale(0.9) rotate(-3deg);}
  30% {-ms-transform: scale(1.1) rotate(3deg);}
  40% {-ms-transform: scale(1.1) rotate(-3deg);}
  50% {-ms-transform: scale(1.1) rotate(3deg);}
  60% {-ms-transform: scale(1.1) rotate(-3deg);}
  70% {-ms-transform: scale(1.1) rotate(3deg);}
  80% {-ms-transform: scale(1.1) rotate(-3deg);}
  90% {-ms-transform: scale(1.1) rotate(3deg);}
  100% {-ms-transform: scale(1) rotate(0);}
}

@keyframes tada {
  0% {-webkit-transform: scale(1);transform: scale(1);} 
  10% {-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}
  20% {-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}
  30% {-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}
  40% {-webkit-transform: scale(1.1) rotate(-3deg);transform: scale(1.1) rotate(-3deg);}
  50% {-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}
  60% {-webkit-transform: scale(1.1) rotate(-3deg);transform: scale(1.1) rotate(-3deg);}
  70% {-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}
  80% {-webkit-transform: scale(1.1) rotate(-3deg);transform: scale(1.1) rotate(-3deg);}
  90% {-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}
  100% {-webkit-transform: scale(1) rotate(0);transform: scale(1) rotate(0);}
}

.tada {
  -webkit-animation-name: tada;
  -ms-animation-name: tada;
  animation-name: tada;
}





